# deps
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
.generated/
generated/

# env
.env
.env.*
!.env.example

# logs
*.log
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# git
*.orig
